html, body {
  margin: 0;
  padding: 0 0 30px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 10px;
  background-color: #FCF6F5;
  color: #333;
}

button {
  font-family: "Josefin Sans", sans-serif;
}

body[js=off] #no-js {
  display: flex;
  z-index: 9999;
}

#no-js {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  align-content: center;
  text-align: center;
  font-size: 5rem;
  z-index: 9999;
  display: none;
}

header {
  background-color:  #FF621F;
  width: 100%;
  border-bottom: 2px solid #ff5151;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  color: #333;
  align-items: center;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.welcome-message h1 {
  font-size: 3em;
  margin: 0;
  color: #FFF;
}
.welcome-message p {
  font-size: 2em;
  margin: 5px 0 0;
  color: #FFF;
}

/* CSS for the welcome section */
.background-image {
  background: url('/static/img/background-img.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.welcome-message {
  background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background for readability */
  padding: 20px;
  border-radius: 10px;
  flex-grow: 1;
  padding: 0 20px;
  text-align: center;
}

.nav-buttons .btn {
  color: #fff;
  background-color: #ff0000;
  padding: 10px 10px;
  text-decoration: none;
  font-size: small;
  border-radius: 4px;
}

.nav-buttons .btn:hover {
  background-color: #cc0000;
}

header .content {
  flex: 1;
}
header .content .title {
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}
header .content .subtitle {
  font-size: 24px;
  padding-left: 5px;
}
header .status {
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 20px;
  border: 2px solid #000;
}
header .status > .txt {
  padding: 0 5px;
  font-size: 1.4rem;
}
header .status > .bubble {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: block;
}
header .status > .bubble.ok {
  background-color: green;
}
header .status > .bubble.down {
  background-color: red;
}

#menu {
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0) 100%);
}
#menu .contents {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  font-size: 1.6rem;
  padding: 20px;
  justify-content: space-between;
  margin: 0 auto;
}
#menu .contents > .destination,
#menu .contents > .amenities {
  flex: 1;
}
#menu .contents > .destination {
  margin-right: 20px;
}
#menu .contents > .destination .title,
#menu .contents > .amenities .title  {
  font-size: 2.2rem;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}
#menu .contents > .destination .choice,
#menu .contents > .amenities .choice {
  font-size: 1.6rem;
}
#menu .contents > .destination .choice > span,
#menu .contents > .amenities .choice > span {
  user-select: none;
}
#menu .contents > .destination .choice > span > label,
#menu .contents > .amenities .choice > span > label {
  padding: 8px 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  display: inline-block;
}
#menu .contents > .destination .choice > span > label:hover,
#menu .contents > .amenities .choice > span > label:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #E5E5E5;
  border-radius: 5px;
  cursor: pointer;
}
#menu .contents > .destination > .title, #menu .contents .amenities > .title {
  font-size: 2.2rem;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding-top: 5px;
}
#menu .contents > .destination > .choice, #menu .contents .amenities > .choice {
  font-size: 1.6rem;
}
#menu .contents > .destination > .choice > span, #menu .contents .amenities > .choice > span {
  user-select: none;
}
#menu .contents > .destination > .choice > span > label, #menu .contents .amenities > .choice > span > label {
  padding: 8px 5px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  display: inline-block;
}
#menu .contents > .destination > .choice > span > label:hover, #menu .contents .amenities > .choice > span > label:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #E5E5E5;
  border-radius: 5px;
  cursor: pointer;
}
#menu .contents > .destination > .choice > span > label:active, #menu .contents .amenities > .choice > span > label:active {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #C5C5C5;
}
#menu .contents > .destination > .choice > span > label > input[type=radio], #menu .contents .amenities > .choice > span > label > input[type=radio] {
  margin-right: 0px;
}
#menu .contents > .search {
  width: 160px;
  margin-left: 20px;
  align-items: center;
}
#menu .contents > .search > button {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
}


#results {
  width: 100%;
  min-height: 100%;
  font-size: 1.5rem;
}
#results ul, #results li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#results > .none {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
#results > .listings > .country_group {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
}
#results > .listings > .country_group > .country_name {
  font-size: 3.2rem;
  margin: 10px 0;
  padding: 5px 0;
}
#results > .listings > .country_group > .country_name .flag {
  font-family: "Flags";
}
#results > .listings > .country_group > .cities > .city_group {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}
#results > .listings > .country_group > .cities > .city_group > .city_name {
  font-size: 2.6rem;
  margin-bottom: 10px;
  padding: 8px 0;
}
#results > .listings .place {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 5px;
}
#results > .listings .place > .name {
  font-size: 2rem;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding: 10px 0;
}
#results > .listings .place > .details {
  font-size: 1.4rem;
  position: relative;
  display: flex;
}
#results > .listings .place > .details > div {
  height: 52px;
  margin-right: 10px;
  padding: 0 5px;
}
#results > .listings .place > .details > div:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.2);
}
#results > .listings .place > .details > .price {
  width: 120px;
}
#results > .listings .place > .details > .price > .digits {
  font-size: 4rem;
}
#results > .listings .place > .details > .price > .pax {
  font-size: 1.2rem;
}
#results > .listings .place > .details > .description {
  width: 280px;
  font-size: 1.6rem;
  line-height: 1.3;
  display: flex;
  align-items: center;
}
#results > .listings .place > .details > .address {
  width: 300px;
  line-height: 1.3;
  display: flex;
  align-items: center;
}
#results > .listings .place > .details > .amenities {
  flex: 1;
  display: flex;
  align-items: center;
}
#results > .listings .place > .details > .amenities > span {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  padding: 8px 8px 5px 8px;
  margin-right: 5px;
  line-height: 1.4rem;
}
#results > .listings .place > .details > .accommodations {
  font-size: 2rem;
  position: absolute;
  top: -45px;
  right: 0;
  margin-right: 0;
}
#results > .listings .place > .details > .accommodations > span {
  margin-left: 10px;
}
#results > .listings .place > .details > .accommodations > span > i {
  margin-right: 5px;
}

footer {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #CCC;
  background-color: #FFF;
  padding: 10px;
  box-sizing: border-box;
}

.admin-data {
  min-height: 250px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  background-color: #F5F5F5;
  overflow: hidden;
}
.admin-data.places-amenities .header span:nth-child(1), .admin-data.places-amenities .row span:nth-child(1) {
  width: 200px;
}
.admin-data.places-amenities .header span:nth-child(2), .admin-data.places-amenities .row span:nth-child(2) {
  width: 120px;
}
.admin-data.places-amenities form span:nth-child(1) {
  flex: 1;
}
.admin-data.places-amenities form span:nth-child(2) {
  flex: 1;
}
.admin-data.places-amenities form select {
  width: 100%;
  padding: 5px;
}
.admin-data.amenities span:nth-child(1) {
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}
.admin-data.amenities span:nth-child(2) {
  width: 100px;
}
.admin-data.cities span:nth-child(1) {
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}
.admin-data.cities span:nth-child(2) {
  width: 120px;
}
.admin-data.countries .header span:nth-child(1), .admin-data.countries .row span:nth-child(1) {
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}
.admin-data.countries .header span:nth-child(2), .admin-data.countries .row span:nth-child(2) {
  width: 120px;
}
.admin-data.countries .header span:nth-child(3), .admin-data.countries .row span:nth-child(3) {
  width: 60px;
}
.admin-data.countries form span:nth-child(1) {
  flex: 2;
}
.admin-data.countries form span:nth-child(2) {
  flex: 1;
}
.admin-data.places span:nth-child(1) {
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}
.admin-data.places span:nth-child(2) {
  width: 150px;
}
.admin-data.places span:nth-child(3) {
  width: 220px;
}
.admin-data.places span:nth-child(4) {
  width: 330px;
}
.admin-data.places span:nth-child(5) {
  width: 50px;
}
.admin-data.places span:nth-child(6), .admin-data.places span:nth-child(7) {
  width: 80px;
}
.admin-data.places span:nth-child(8) {
  width: 50px;
}
.admin-data.places span:nth-child(9), .admin-data.places span:nth-child(10) {
  width: 70px;
}
.admin-data.reviews span:nth-child(1) {
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}
.admin-data.reviews span:nth-child(2) {
  width: 100px;
}
.admin-data.reviews span:nth-child(3) {
  width: 120px;
}
.admin-data.users span:nth-child(1) {
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}
.admin-data.users span:nth-child(2) {
  width: 100px;
}
.admin-data.users span:nth-child(3) {
  width: 100px;
}
.admin-data.users span:nth-child(4) {
  width: 250px;
}
.admin-data.users span:nth-child(5) {
  width: 100px;
}
.admin-data > .title {
  font-size: 2.6rem;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #E5E5E5;
}
.admin-data > .header {
  font-size: 0;
  border-bottom: 2px solid #CCC;
  font-weight: bold;
}
.admin-data > .header > span {
  display: inline-block;
}
.admin-data > .rows {
  height: 178px;
  overflow-y: scroll;
}
.admin-data > .rows > .row {
  font-size: 0;
  display: flex;
}
.admin-data > .rows > .row:nth-child(2n+2) {
  background-color: #D5D5D5;
}
.admin-data > .header > span, .admin-data > .rows > .row > span {
  padding: 5px;
  font-size: 1.4rem;
  align-content: center;
}
.admin-data > .header > span:not(:nth-child(1)), .admin-data > .rows > .row > span:not(:nth-child(1)) {
  border-left: 1px solid #CCC;
}
.admin-data > form {
  min-height: 95px;
  border-top: 2px solid #CCC;
  background-color: #E5E5E5;
  padding: 10px 5px 5px 5px;
}
.admin-data > form > .title {
  font-size: 1.6rem;
}
.admin-data > form > .fields {
  display: flex;
}
.admin-data > form > .fields > span {
  padding: 5px 10px 5px 0;
}
.admin-data > form > .fields input[type=text] {
  padding: 5px;
  width: calc(100% - 10px);
}
.admin-data > form > .submit {
  text-align: right;
  padding-right: 10px;
}
.admin-data > form > .submit > button {
  padding: 5px 20px;
  font-size: 1.6rem;
}

/*# sourceMappingURL=index.css.map */

/* Container for hotel cards */
#hotel-listings {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  justify-content: center;
}

/* Individual card styling */
.card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 300px; /* Adjust based on design */
  text-align: center;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 30px;
}

.card-title {
  font-size: 2em;
  margin: 0;
  color: #48036E;
}

.card-description {
  font-size: 1.5em;
  color: #555;
}

.card-price {
  font-size: 1.2em;
  color: #ff0000;
  margin: 20px 0;
}

.card-button {
  background-color: #48036E;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none; /* Remove underline from link */
}

.card-button:hover {
  background-color: #35024e;
}

/* Login Modal background */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/*Login Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 400px; /* Maximum width for the modal */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Adding some shadow */
  border-radius: 10px; /* Rounded corners */
}

/*Login Close button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Login Form elements */
.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form label,
.modal-content form input,
.modal-content form button {
  margin-bottom: 10px;
}

.modal-content form input,
.modal-content form button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.modal-content form button {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none; /* Remove borders */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.modal-content form button:hover {
  background-color: #45a049; /* Darker green */
}


/* Close button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer; /* Ensure pointer cursor */
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
}

/* desinations */

#destination-filter, #amenities-filter, #amenities-submenu  {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 20px 0;
  box-sizing: border-box;
  max-width: 380px; /* Adjust width as needed */
  margin: 10px ; 
}
#destination-filter .title, #amenities-filter .title {
  font-size: 1.8rem; /* Adjust font size as needed */
}

#destination-filter .choice, #amenities-filter .choice {
  font-size: 1.4rem; /* Adjust font size as needed */
}

.filter-container {
  margin-bottom: 20px;
  align-items: center; /* Align items vertically if needed */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(230, 109, 72, 0.699) 20%, rgba(230, 109, 72, 0.699) 80%, rgba(0, 0, 0, 0) 100%);
  display: flex; /* Use flexbox to arrange items side by side */
  justify-content: center; /* Distribute space between items */
  gap: 0px; /* Add some space between the two filters */
  padding: 10px; /* Add some padding around the container */
}

.filter-group {
  flex: 1; /* Allow each filter group to take up equal space */
}

.filter-group label {
  display: ruby-base; /* Make sure the label is on top of the select element */
  margin-bottom: 1px; /* Add some space between the label and the select element */
}

.filter-group select {
  width: 100%; /* Make the select element take up the full width of its container */
}
#comfortsFilter {
padding: 10px;
font-size: 16px;
}



#destination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.destination-card {
  width: calc(33% - 20px);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.destination-card img {
  max-width: 100%;
  border-radius: 4px;
}

.destination-card h3 {
  margin: 10px 0;
}


/* General Container Styles */
#amenities-filter-container {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Amenities Checkbox Styles */
#amenities-filter-container label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #333;
}

/* Hover and Active Styles */
#amenities-filter-container label:hover {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 2px;
}

/* Styles for Filter Container Heading */
#amenities-filter-container h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ff4d4d; /* Red color for heading */
  text-align: center;
}

/* Styles for Filtered Hotel Cards */
.destination-card, amenities-card,
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}

.destination-card:hover,
.card:hover,
.amenities-card:hover {
  transform: translateY(-5px);
}


.destination-card h3,
.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.destination-card p,
.card-description {
  font-size: 14px;
  color: #666;
}

.card-price {
  font-size: 16px;
  font-weight: bold;
  color: #ff4d4d; /* Red color for price */
  margin-top: 10px;
}

.card-button {
  background-color: #ff4d4d; 
}




/* Style for the checkbox container */
.checkbox-container {
  display: flex;
  flex-direction: column;
}

/* Style for individual checkboxes */
.checkbox-container label {
  margin-bottom: 5px;
}

/* Style for Apply Filters button */
#amenities-ok-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

#amenities-ok-btn:hover {
  background-color: #0056b3;
}

#amenities-submenu {
  display: none;
}

.modal-content-listing {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Adding some shadow */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden;
  font-size: medium;
}

.top-section {
  display: flex;
  width: 100%;
  flex-direction: row; /* Arrange image and details side by side */
  margin-bottom: 16px; /* Space between top and bottom sections */
}

.image-section {
  flex: 0 0 40%; /* 40% width */
  margin-right: 16px; /* Space between image and details */
}

.details-section {
  flex: 0 0 60%; /* 60% width */
}

.reviews-section {
  width: 100%;
  border-top: 1px solid #ddd; /* Optional: separator line */
  padding-top: 16px; /* Space above reviews section */
}
.review {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.review h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}
.review p {
  margin: 5px 0 0;
  font-size: 1em;
  color: #666;
}


/* Additional styling for individual elements */
.modal-image {
  width: 100%; /* Ensure the image takes up the full width of its container */
  height: auto; /* Maintain aspect ratio */
}

.modal-title, .modal-description, .modal-price, .modal-amenities {
  margin-bottom: 8px; /* Space between elements */
}

.close-button {
  align-self: flex-end;
  font-size: 24px;
  cursor: pointer;
}

/* CSS for radiant background */
.homepage-background {
  /* Set the background image */
  background-image: url('static/img/img_background.jpeg'), /* Replace with the path to your image */
                    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Gradient overlay */
  background-blend-mode: overlay; /* Blend the image and gradient */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
}

#login-button {
  float: right;
  margin-inline-end: 5%;
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #cecec3;
}
.login-button {
  width: -webkit-fill-available;
}